body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(231,249,252);
background: radial-gradient(circle, rgba(231,249,252,0.9878326330532213) 10%, rgba(177,209,247,1) 74%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// @import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300';
$padding:30px;
* { box-sizing: border-box; }
/* Flip the card on hover */
// .container:hover .card,
// .back {
//   transform: rotateY(-180deg) translateZ(1px);
// }
.dots {
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 77%;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.card {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: grid;
  font-family: 'Trebuchet MS', sans-serif;
  height: 200px;
  // height: 270px;
  margin: 20px auto;
  width: 350px;
  // width: 375px;
}
.business-card{
  width: 25rem;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  margin: 10px 10px;
}
.btn.btn-primary{
  margin-bottom: 5%;
}
.card-title{
  margin: 5%;
}
.card.back.card2 {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: $padding;
  background-color:white;
}
.card.back.card3 {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: $padding;
  background-color:skyblue;
}
.card.back.card4 {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: $padding;
  background-color: lightgreen;
}
.card.back.card5 {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: $padding;
  background-color:lightgray;
}
.card.back.card6 {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: $padding;
  background-color:lightsteelblue;
}

  .personal-info {
    grid-column: 2 / span 6;
    grid-row: 5 / span 6;
    margin-top: 5px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    grid-column: 4 / span 6;
    grid-row: 2 / span 2;
    p {
      font-size: 8px;
      &:first-of-type {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      &:nth-of-type(2){
        font-size: 12px;
        margin-bottom: 15px;
      }
    }
  }

  


